{% extends "layouts/base.html" %}

{% block title %}会员订阅{% endblock %}

{% block main %}
  <div>
    <h3>FT中文网会员订阅服务，欢迎您！</h3>
    <p>希望全球视野的FT中文网，能够带您站在高海拔的地方俯瞰世界，引发您的思考，从不同的角度看到不一样的事物，见他人之未见！</p>
  </div>
  
  <div>
    <h3>请选择您的订阅方式</h3>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center border-bottom mb-3 pb-3">年度标准会员</h3>
          <ul>
            <li>专享订阅内容每日仅需0.5元</li>
            <li>精选深度分析</li>            
            <li>中英双语内容</li>
            <li>金融英语速读训练</li>
            <li>英语原声电台</li>
            <li>无限浏览7日前所有历史文章（近8万篇）</li>
          </ul>
        </div>

        <div class="card-footer text-center">
          <a href="/subscription/standard/year" class="btn btn-primary text-white">¥198.00/年</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center border-bottom mb-3 pb-3">高端会员</h3>
          <ul>
            <li>专享订阅内容每日仅需5.5元</li>
            <li>享受“标准会员”所有权益</li>
            <li>编辑精选，总编/各版块主编每周五为您推荐本周必读资讯，分享他们的思考与观点</li>
            <li>FT中文网2018年度论坛门票2张，价值3999元/张 （不含差旅与食宿）</li>
          </ul>
          <small>注：所有活动门票不可折算现金、不能转让、不含差旅与食宿</small>
        </div>

        <div class="card-footer text-center">
          <a href="/subscription/premium/year" class="btn btn-primary text-white">¥1,998.00/年</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center border-bottom mb-3 pb-3">月度标准会员</h3>
          <ul>
            <li>专享订阅内容每日仅需0.9元</li>
            <li>精选深度分析</li>            
            <li>中英双语内容</li>
            <li>金融英语速读训练</li>
            <li>英语原声电台</li>
            <li>无限浏览7日前所有历史文章（近8万篇）</li>
          </ul>
        </div>

        <div class="card-footer text-center">
          <a href="/subscription/standard/month" class="btn btn-primary text-white">¥28.00/月</a>
        </div>
      </div>

    </div>
  </div>
{% endblock %}